@{
    ViewBag.Title = "OmegleR";
}

<meta name="viewport" content="width=device-width, initial-scale=1">

<link type="text/css" href="~/Content/Site.css" rel="stylesheet" />
<link type="text/css" href="~/Content/bootstrap.css" rel="stylesheet" />

<body style="height:100vh">
    <div class="col-md-12 col">
        <h2>OmegleR</h2>

        <div class="col-md-10 col chat" style="width:100%;"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 col">
                    <button class="btn btn-default btn-lg btn-block" style="white-space: normal;" id="btn-stop-chat">Stop (esc)</button>
                </div>
                <div class="col-md-10 col">
                    <textarea cols="20" id="text-message" rows="5" style="width:100%;"></textarea>
                </div>
                <div class="col-md-1 col">
                    <button class="btn btn-default btn-lg btn-block" style="white-space: normal;" id="btn-send-message">Send (enter)</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/App/chat.js"></script>